/* Style for whole document */
body {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    font-family: 'Dancing Script', cursive;
}

/* Style for 1st section= navigation */
ul {
    list-style-type: none;
}
li {
    display: inline;
    padding-left: 3.5%;
    padding-right: 3.5%;
}
a {
    color: black;
    font-style: italic;
    font-weight: 500;
    font-family: serif;
    font-size: large;
}
#brand {
    padding-right: 7%;
    padding-left: 0%;
}
#login {
    position: relative;
    left:5.5%;
}

/* Style for 2nd section = card */
.digital_card {
    text-align: center;
    width:95%;
    height:250px;
    border-radius: 25px;
    background-image: url("Images/Background.jpg");
    margin-left: 2%;
    margin-top: 3%;
    margin-right: 2%;
    padding-top: 2%;
}
h1 {
    color: white;
    font-family: serif;
}
.card_title {
    width:300px;
    height: 450px;
}
/* style for image slider */
.slides {
    display: inline;
}
.slider {
    float: left;
}
.slide1 , .slide2 , .slide3 {
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 5px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}

/* style for card div */
.card_container {
    width:90%;
    height:600px;
    border-radius: 25px;
    background-color: #ffffff;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
    left:40px;
    bottom: 150px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 3%;
    border : 1px solid gray;
    box-shadow:  whitesmoke;
}
.card_title {
    float: left;
    margin-left: 8%;
}
.card_title h2 {
    text-align: center;
    font-family: serif;
    font-size:xxx-large;
    margin-bottom: 2%;
}
#price {
    font-size:xx-large;
}
#prev_price {
    font-size: x-large;
    text-decoration: line-through;
}
#perc_off {
    font-size: xx-large;
    margin-left: 12%;
    color: #6ed17b;
}
.card_title p {
    margin-top: 15%;
    margin-bottom: 15%;
    width: 90%;
    font-size: larger;
    position: relative;
    left:20px;
}
button {
    font-size: 25px !important;
    width: 300px;
    height: 50px;
    border-radius: 20px !important;
    color: white;
    background-color: black;
}

/* Styles for features section */
.features {
    clear: both;
    position: relative;
    bottom: 60px;
}
.features h2 {
  text-align: center;
  margin-bottom: 2%;
  padding-left: 5%;
  padding-right: 3%;
  font-family: serif;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f8f5f0;
    position: relative;
    left:60px;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1);
}
.circle2 {
    margin-left:15%;
   
}
.cards {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 2%;
    border-radius: 25px;
    border: 1px solid gray;
    box-shadow: 10px 5px 5px whitesmoke;
}
.card {
    border: none;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.card-text {
    font-family: serif;
    font-size:x-large;
}